body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    padding: 20px;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}
header h1, header h2 {
   color: white;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
}
h1, h2, h3 {
    color: #333;
}
.project {
    margin-bottom: 2em;
}
.project img {
    max-width: 100%;
    height: auto;
}
.contact, .newsletter {
    margin-top: 2em;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}
.info.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #f8d7da; /* Couleur de fond */
	color: #721c24; /* Couleur du texte */
	text-align: center;
	padding: 10px 0;
	z-index: 1000; /* Assurez-vous que le bandeau est au-dessus des autres éléments */
	box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre pour un effet de profondeur */
	margin: auto;
}
.info {
	position: static;
	background-color: #f8d7da;
	color: #721c24;
	text-align: center;
	padding: 10px 0;
	z-index: 1000;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	margin: auto;
}

.topbar {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }
    li {
        float: left;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }
    li a:hover {
        background-color: #111111;
    }
    li a.active {
        background-color: #4CAF50; /* Exemple pour le lien actif */
    }
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;

}